<div class="review-container mt-3">
  <h1 class="review-title">Review</h1>
  <div class="review-card">
    <div class="review-header">
      <div class="review-user-info">
        <!-- User's name -->
        <p class="review-user-name"><%= User.find(review.user_id).email %> </p>
        <!-- Date of the review -->
        <p class="review-date"><%= review.created_at.strftime('%B %d, %Y') %></p>
      </div>
    </div>
    <div class="review-body">
        <% if review.rating >=4 %>
            <h3 class="review-heading">Good Experience!</h3>
        <% elsif review.rating >= 2 %>
            <h3 class="review-heading">Good Experience!</h3>
        <% else %>
            <h3 class="review-heading">Bad Experience</h3>
        <% end %>
      <!-- Static 4-star rating -->
      <div class="review-rating">
        <div class="stars">
          <%= star_rating(review.rating) %>
        </div>
      </div>
    </div>
    <div class="review-content">
        <div class="review-user-info">
        <!-- User's name -->
        <p class="review-user-name"><%= review.comment %></p>
        <!-- Date of the review -->
        <% if user_signed_in? %>
        <% if current_user.id == review.user_id %>
            <p class="review-date">
            <%= link_to 'Edit ',edit_play_review_path(review.play,review), class:"btn btn-outline-info"%>
            <%= link_to 'Delete',[review.play,review], data: {turbo_method: 'delete',turbo_confirm: "Are you sure?"},class:"btn btn-outline-danger"%></p>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


